
/*importing google font*/
  
  @import url('https://fonts.googleapis.com/css?family=Skranji');

a{
  font-family:'Skranji', cursive;
  font-weight:600;
}


.form-group {
  
  font-family:'Skranji', cursive;
  font-weight:600;
}

h4,h2,h3{
  font-family:'Skranji', cursive;
  font-weight:bold;
  
  
}

#anish {
text-align:center;
}


div > p {
  font-family:'Skranji', cursive;
  font-weight:lighter;
  
}
.main-header .logo {
  
  font-family:'Skranji', cursive;
  color: #444;
    font-size:15px;
  line-height: 44px;
  letter-spacing: 0px;
  font-weight: bold;
}

#about {
font-size:16px;
font-family:'Skranji', cursive;
font-weight:600;

}

#source {
font-size:14px;
font-family:'Skranji', cursive;
font-style:italic;
font-weight:600;
}

#aboutMacro{

font-size:16px;
font-family:'Skranji', cursive;
font-weight:600;

}

#MacroSource {
font-size:14px;
font-family:'Skranji', cursive;
font-style:italic;
font-weight:600;

}